
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.active{
     background-color: #4CAF50;
     color:#f1f1f1;
}
p {
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0;
}

h1 {
    line-height: 2.0;
}


// screnn for desktop
@media (min-width:700px){
    nav{
    ul{
        li{
            a{
                display: block;
                color: #000;
                padding: 16px 16px;
                text-decoration: none;
                text-align: left;
                &:hover{
                     background-color: #4CAF50;
                     color:#f1f1f1;
                }
            }   
        }
        list-style-type: none;
        margin: 0;
        padding: 0;
        width:20%;
        background-color: #f1f1f1;
        height: 100%;
        overflow: auto;
        float:left;
        position: absolute;
    }
   
    }
     .container{
         margin-left:22%;
     }
}


//screnn for tablet
@media (min-width: 400px) and (max-width: 700px) {
nav{
    ul{
        li{
            a{
                display: block;
                color: black;
                text-align: center;
                padding: 14px 20px;
                text-decoration: none;
                &:hover {
                    background-color: #4CAF50;
                    color: #f1f1f1;
                }
            }
            float:left;
            list-style: none;
        }
    }

}
.container{
    clear:left;
    margin-left:14px;
}

   
}

@media screen and (max-width: 400px) {

   nav {
       ul {
           li {
               a {
                   display: block;
                   color: black;
                   text-align: center;
                   padding: 14px 20px;
                   text-decoration: none;

                   &:hover {
                       background-color: #4CAF50;
                       color: #f1f1f1;
                   }
               }

              
               list-style: none;
           }
       }

   }
   .container {
     
       margin-left: 14px;
   }
}
